.footer {
  padding: 20px 30px;

  &__address {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: none;
    & p {
      margin: 5px 0;
    }

    @media screen and (min-width: 767.98px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__link_groups {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    & > div {
      font-family: 'Raleway', sans-serif;
      & > p {
        text-decoration: underline;
        color: #fff;
        margin: 0 0 15px 0;
      }
      & > ul {
        list-style: none;
        margin: 0;
        padding: 0px;
        & > li {
          font-size: 0.9rem;
          margin: 10px 0;
        }
      }
    }
  }
  &__misc {
    margin: 10px 0px;
    padding: 10px 15px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
      max-width: 40px;
    }
    &__title {
      font-size: 1.4rem;
      margin: 0 auto 0 10px;
      font-family: 'Pacifico', cursive;
      color: #fff;
    }
    &__social {
      text-align: center;
      font-size: 1.2rem;
      & > a {
        display: inline-block;
        color: #fff;
        background-color: #000;
        width: 30px;
        height: 30px;
        padding-top: 4px;
        margin-left: 10px;
        transition: all 0.5s ease;
        &:hover {
          border-radius: 50%;
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
  &__legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    &__copyright,
    &__dev {
      font-size: 0.8rem;
      font-family: 'Source Code Pro', monospace;
      color: #fff;
      text-align: center;
      margin: 0;
      & > a {
        font-family: 'Pacifico', cursive;
      }
    }
    &__copyright {
      margin-top: 5px;
    }
    &__dev {
      margin-bottom: 5px;
    }
  }

  @media screen and (min-width: 575.98px) {
    &__misc {
      &__title {
        display: block;
      }
    }
    &__legal {
      &__copyright,
      &__dev {
        font-size: 1rem;
      }
    }
  }

  @media screen and (min-width: 767.98px) {
    &__link_groups {
      justify-content: space-around;
    }
    &__legal {
      flex-direction: row;
      &__copyright,
      &__dev {
        margin: 0;
      }
    }
  }
}
